<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <header>
    <%- include commons/header %>
  </header>
empty
<footer>
  <%- include commons/footer %>
</footer>


  </body>
</html>
